<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Receptio</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">RECEPTIO</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#como-ajudar">Quero apoiar</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#refugiado">Buscar ajuda</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-banner1 text-white text-center">
      <div class="container">
        <h1 class="text-uppercase mb-0">Acolha essa causa</h1>
        <h2 class="font-weight-light mb-0">Todos juntos em busca de paz e um meio para viver dignamente</h2>
        <div class="row">
            <div class="col-sm">
                <h3 class="text-uppercase mb-0">Apoiadores</h3>
                <ul class="list-group">
                  <li class="list-group-item"><i class="fas fa-check"></i> Cadastrar imigrantes</li>
                  <li class="list-group-item"><i class="fas fa-check"></i> Oferecer auxílio</li>
                </ul>
            </div>
            <div class="col-sm">
                <h3 class="text-uppercase mb-0">Imigrantes</h3>
                <ul class="list-group">
                  <li class="list-group-item"><i class="fas fa-check"></i> Cadastrar-se</li>
                </ul>
            </div>
        </div>
      </div>
    </header>

    <!-- Quero Ajudar Grid Section -->
    <section class="portfolio" id="como-ajudar">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">COMO AJUDAR?</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-md-6 col-lg-6 text-center">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                </div>
              </div>
              <button class="btn btn-primary btn-xl">OFERECER AJUDA</button>
            </a>
          </div>
          <div class="col-md-6 col-lg-6 text-center">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                </div>
              </div>
              <button class="btn btn-primary btn-xl">CADASTRAR UM IMIGRANTE</button>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 ml-auto">
            <h4 class="text-uppercase text-secondary mb-0">DOAR</h4>

            <p class="lead" style="color: black">Donativos financeiros</p>
            <p>Todos os donativos financeiros recebidos pela Receptio são destinados a manutenção do site.
            <p>DADOS BANCÁRIOS:<br>
            Nº CONTA: 99999999-00<br>
            ENTIDADE: RECEPTIO<br>
            IBAN: PT50.0036.0000.99105909865.94<br>
            BIC/SWIFT: MPIOPTPL</p>
            
            <p class="lead" style="color: black">Donativos em bens ou alimentos</p>
            <p>Donativos em bens e/ou alimentos podem ser doados aos refugiados das respetivas áreas de residência  de quem faz o donativo.</p>
          </div>   
    
          <div class="col-lg-6 mr-auto">
            <h4 class="text-uppercase text-secondary mb-0">ACOLHER</h4>
            <p>Se houver vontade de acolher um refugiado, pode inscrever-se e submeter a sua candidatura para aprovação. Cada anfitrião deve fornecer ao seu hóspede:</p>
            <p>- Alojamento adequado<br>
            - Alimentação<br>
            - Apoio na aprendizagem do português<br>
            - Apoio no acesso ao mercado de trabalho</p>
          </div>

          <div class="col-lg-6 mr-auto">    
            <h4 class="text-uppercase text-secondary mb-0">VOLUNTARIADO</h4>
            <p>Se pretende oferecer ajuda, inscrever-se em baixo como voluntário/a e descrever qual poderá ser sua contribuição específica.
              Exemplo: Aulas de português, cursos de qualificação profissional, apoio psicológico, inserção no mercado de trabalho, instrução e preparação em empreendedorismo e ações culturais.
            </p>
          </div>
      </div>
    </section>
  
    <!-- Refugiado Section -->
    <section class="bg-primary text-white mb-0" id="refugiado">
      <div class="container">        
        <div class="row">
          <div class="col-md-6 col-lg-8 text-center">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                </div>
              </div>
              <button class="btn btn-reverse btn-xl">SOLICITAR AJUDA</button>
            </a>
          </div>
        </div>
        <h2 class="text-center text-uppercase" style="color: black">Orientações aos Refugiados</h2>
        <hr class="card">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead" style="color: black">REFÚGIO NO BRASIL</p>
            <p>A Lei Brasileira de Refúgio considera como refugiado todo indivíduo que sai do seu país de origem devido a fundados temores de perseguição por motivos de raça, religião, nacionalidade, grupo social ou opiniões políticas imputadas, ou devido a uma situação de grave e generalizada violação de direitos humanos no seu país de origem.</p>
            <p>Considera-se que uma pessoa é perseguida quando seus direitos humanos tenham sido gravemente violados ou estão em risco de sê-lo. Isso pode acontecer, por exemplo, quando a vida, liberdade ou integridade física da pessoa corria sério risco no seu país.</p>
            <p>Para solicitar refúgio no Brasil, é preciso estar presente no território nacional. A qualquer momento após a sua chegada no Brasil, o estrangeiro que se considera vítima de perseguição em seu país de origem deve procurar uma Delegacia da Polícia Federal ou autoridade migratória na fronteira e solicitar expressamente o refúgio para adquirir a proteção do governo brasileiro. O estrangeiro que solicita refúgio no Brasil não pode ser deportado para fronteira de território onde sua vida ou liberdade estejam ameaçadas.</p>
            <p>Todos os pedidos de refúgio no Brasil são decididos pelo Comitê Nacional para os Refugiados (CONARE), órgão vinculado ao Ministério da Justiça e composto por representantes do Ministério da Justiça, do Ministério das Relações Exteriores, do Ministério do Trabalho, do Ministério da Saúde, do Ministério da Educação, do Departamento de Polícia Federal e de organizações da sociedade civil dedicadas a atividades de assistência, integração local e proteção aos refugiados no Brasil. O ACNUR e a Defensoria Pública da União têm assento no CONARE com direito a voz, porém sem direito a voto. É importante saber que:</p>
            <p>- Não é possível solicitar a condição de refugiado estando fora do território brasileiro, em consulado ou embaixada brasileira no exterior.</p>
            
            <p>- A solicitação de refúgio é inteiramente gratuita e pode ser feita diretamente pelo interessado. Não é obrigatória a presença de advogado.</p>
            
            <p>- A solicitação de refúgio pode ser feita na área de fronteira ou dentro do território brasileiro.</p>
            
            <p>- O ingresso irregular no território não constitui impedimento para o estrangeiro solicitar refúgio às autoridades competentes.</p>
            
            <p>- Toda informação prestada pelo solicitante de refúgio será confidencial e não será compartilhada com as autoridades do seu país de origem.</p>
            
            <p>- A solicitação de refúgio também pode ser feita para o grupo familiar que o acompanhe no Brasil.
            
            <p>- Às crianças (menores de 18 anos) desacompanhadas ou separadas da sua família será designado judicialmente um adulto responsável (guardião).</p>
            
            <p>- Não é necessário viajar ou morar em Brasília, onde fica a sede do CONARE, para acompanhar o pedido de refúgio. Você pode acompanhar seu pedido em qualquer posto da Polícia Federal ou com as organizações da sociedade civil parceiras do ACNUR.</p>
            
            <p class="lead" style="color: black">QUEM É QUEM</p>
                  <p style="color: black">CONARE</p>
            <p>É o órgão do governo que analisa e decide todos os pedidos de refúgio no Brasil. É também o órgão encarregado de formular a política sobre refúgio no Brasil e criar normas que esclareçam os termos da lei de refúgio. O CONARE fica localizado em Brasília, no Ministério da Justiça.</p>
            
            <p style="color: black">Ministro da Justiça</p>
            <p>É a autoridade que analisa e decide todos os recursos dos solicitantes de refúgio no Brasil. O Ministro da Justiça é um Ministro do Estado brasileiro, responsável por temas relativos ao poder judiciário, segurança pública, nacionalidade, estrangeiros, populações indígenas, dentre outros temas.</p>
            
            <p style="color: black">Polícia Federal</p>
            <p>É o órgão do governo encarregado de receber os pedidos de refúgio, emitir documentos para solicitantes de refúgio e refugiados, informar os solicitantes de refúgio sobre o resultado dos seus pedidos e receber recursos contra as decisões negativas do CONARE.</p>
            
            <p class="lead" style="color: black">COMO PEDIR REFÚGIO</p>
            Para registrar a sua solicitação de refúgio você deve:
            
            <p>- Preencher um TERMO DESOLICITAÇÃO DE REFÚGIO em qualquer posto da Polícia Federal;</p>
            <p>- Informar um ENDEREÇO (onde você mora ou está hospedado e pode ser encontrado), TELEFONE e EMAIL para contato. É muito importante que você mantenha seus contatos atualizados na Polícia Federal e no CONARE, para que você possa receber todas as comunicações ou citações que sejam necessárias. Em caso de mudança, informe o CONARE através do email conare@mj.gov.br.</p>
            
            <p>Após registrar sua solicitação na Polícia Federal você:</p>
            <p>- Receberá um PROTOCOLO PROVISÓRIO, válido por 1 ano e renovável até a decisão final do CONARE sobre o seu pedido de refúgio. Este protocolo será seu DOCUMENTO DE IDENTIDADE no Brasil. Ele serve de prova da sua situação migratória regular e de que você está protegido e não pode ser devolvido para país onde sua vida esteja em risco. Com este protocolo você terá direito a obter CARTEIRA DE TRABALHO (CTPS) e CADASTRO DE PESSOA FÍSICA (CPF) e acessar todos os serviços públicos disponíveis no Brasil.</p>
            
            <p>- Terá o direito de ser entrevistado pessoalmente por um funcionário do CONARE ou da Defensoria Pública da União, do sexo que você preferir, que lhe perguntará em detalhes os motivos que o levaram a sair do seu país. A entrevista será realizada num idioma que você compreenda e, se necessário, você tem DIREITO A UM INTÉRPRETE.</p>
            
            <p>- Poderá ter uma SEGUNDA ENTREVISTA com um advogado das organizações parceiras do ACNUR: Caritas Arquidiocesana do Rio de Janeiro, Caritas Arquidiocesana de São Paulo e Instituto Migrações e Direitos Humanos.</p>
            
            <p>É importante saber que:</p>
            <p>- Para que o protocolo provisório continue válido e você possa continuar trabalhando regularmente, é necessário renová-lo na Polícia Federal a cada 1 ano. Os solicitantes que não renovam o protocolo no prazo sujeitam-se ao arquivamento do seu pedido de refúgio. Fique atento à data de renovação anotada em seu protocolo, e compareça na Polícia Federal antes da data de vencimento.</p>
            
            <p>- O CONARE considera importante qualquer informação ou documentação que você traga para explicar as razões pelas quais você saiu do seu país. Para entender melhor sua situação, é indispensável que você forneça a maior quantidade de informações possíveis sobre seu país e região de origem;</p>
            
            <p>- O solicitante que FALTAR INJUSTIFICADAMENTE A ENTREVISTA fica sujeito ao ARQUIVAMENTO da sua solicitação de refúgio. Caso você tenha alguma dúvida após receber a notificação da data da sua entrevista, entre em contato com o CONARE, com a Polícia Federal ou com a organização da sociedade civil mais próxima;</p>
            
            <p>- Você tem direito a ser ASSISTIDO POR UM ADVOGADO da Defensoria Pública da União ou das organizações parceiras do ACNUR, de forma TOTALMENTE GRATUITA, para acompanhar todos os procedimentos do seu pedido de refúgio;</p>
            
            <p>- Você também pode solicitar orientação ao CONARE, à Defensoria Pública da União, às entidades da sociedade civil que trabalham com o tema ou ao ACNUR.</p>
          </div>        
          <div class="col-lg-4 mr-auto"> 
            <p class="lead" style="color: black">DOCUMENTAÇÃO</p>
                  <p>Além do Protocolo Provisório, os solicitantes de refúgio têm direito aos seguintes documentos:</p>
            <p style="color: black">- CADASTRO DE PESSOA FÍSICA (CPF)</p>
            <p>O CPF é um dos principais documentos para cidadãos residentes no Brasil, pois permite o acesso a uma série de facilidades, como o Sistema Público de Saúde (SUS), o registro em instituições públicas de educação, a abertura de contas em bancos e outras operações financeiras. Qualquer pessoa física, nacional ou estrangeira, pode solicitar a inscrição no CPF.</p>
            
            <p>Onde posso solicitar o CPF?</p>
            <p>Em qualquer agência da Receita Federal, mediante pagamento de taxa, e o documento será expedido na mesma hora em que solicitado. Os endereços das entidades públicas conveniadas podem ser encontrados no website www.receita.fazenda.gov.br</p>
            
            <p>Quais são os documentos necessários para solicitar o CPF?</p>
            <p>Os maiores de 18 anos deverão apresentar o original ou a cópia autenticada do seu documento de identificação. Os menores de 18 anos deverão apresentar o original ou a cópia autenticada do seu documento de identificação e o documento de  identificação de um dos pais ou responsável.</p>
            
            <p style="color: black">- CARTEIRA DE TRABALHO E PREVIDÊNCIA SOCIAL (CTPS)</p>
            <p>O que é a CTPS e quem pode solicitá-la?</p>
            <p>A Carteira de Trabalho e Previdência Social (CTPS) é o documento que comprova toda a vida funcional do trabalhador e autoriza as empresas a contratá-lo como empregado. Este documento é obrigatório para o exercício de atividades profissionais e pode ser solicitado por qualquer
            pessoa maior de 14 anos, nacional ou estrangeira, com residência regular no Brasil.</p>
            
            <p>Onde posso solicitar a CTPS?</p>
            <p>O interessado em tirar ou renovar a Carteira de Trabalho e Previdência Social deverá dirigir-se à Superintendência Regional do Trabalho e Emprego (SRTE) ou à Gerência Regional mais próxima da sua residência, com todos os documentos necessários em mãos. Informações sobre a localização dos postos de atendimento podem ser obtidas pelo telefone 158 na Central de Atendimento Alô Trabalho.</p>
            
            <p>Quais os documentos necessários para a CTPS?</p>
            <p>1. Duas fotos em tamanho 3cmx4cm, com fundo branco, coloridas ou em preto-e-branco, iguais e recentes;</p>
            <p>2. Protocolo Provisório expedido pela Polícia Federal original acompanhado de cópia;</p>
            
            
            <p class="lead" style="color: black">DECISÃO</p>
            <p>Depois de colher todas as informações trazidas pelo solicitante de refúgio, o pedido será analisado pelos membros do CONARE, que decidirão se o estrangeiro deverá ou não ser reconhecido como refugiado. Após a DECISÃO do CONARE sobre o seu pedido de refúgio, você será comunicado da decisão nos postos da Polícia Federal e tem o DIREITO DE RECEBER CÓPIA INTEGRAL DA DECISÃO, para saber os motivos que levaram o CONARE àquela conclusão.</p>
            
            <p style="color: black">SE FOR RECONHECIDA A CONDIÇÃO DE REFUGIADO</p>
            <p>O solicitante de refúgio que teve a sua condição de refugiado reconhecida pelo Brasil tem o direito de permanecer no Brasil como refugiado e obter o Registro Nacional de Estrangeiros (RNE), documento de identidade dos estrangeiros no Brasil. A emissão e a renovação do RNE são feitas
            pelo site ou em qualquer unidade da Polícia Federal. Além disso, o refugiado terá direito a uma Carteira de Trabalho definitiva e adquire os mesmos direitos de qualquer outro estrangeiro em situação regular no Brasil.</p>
            <p>Atenção: um refugiado reconhecido pelo CONARE somente ostentará a condição de refugiado em território brasileiro. Os outros países não estão obrigados a reconhecer como refugiado uma pessoa que já foi reconhecida em outro lugar. Sendo assim, se você foi reconhecido como refugiado no Brasil e quiser viajar para outro país, você deverá solicitar autorização do CONARE e será tratado conforme a lei migratória comum do país para onde viajar.</p>
            
            <p style="color: black">SE NÃO FOR RECONHECIDA A CONDIÇÃO DE REFUGIADO</p>
            <p>- Apresentar um RECURSO PARA O Ministro da Justiça no prazo de 15 DIAS contados a partir do recebimento da notificação. O pedido de revisão da decisão do CONARE deve ser fundamentado, ou seja, deve indicar e explicar detalhadamente as razões pelas quais você não concorda com a decisão e se o problema da decisão está na interpretação dos fatos ou aplicação das regras ao caso.</p>
            
            <p>- Você pode ser ASSISTIDO POR UM ADVOGADO da Defensoria Pública da União ou das organizações parceiras do ACNUR no momento de fazer o seu RECURSO. Para tanto você deverá buscar uma destas entidades logo que receber a informação sobre a decisão, pois o recurso deve ser entregue na Policia Federal no prazo máximo de 15 dias do recebimento da notificação;</p>
            
            <p>- Se a DECISÃO DO MINISTRO DA JUSTIÇA também for negativa, significa que o processo administrativo de refúgio terminou e você será submetido à lei de estrangeiros vigente no Brasil. Neste caso, você pode procurar a Defensoria Pública da União para obter orientações sobre
            as medidas cabíveis.</p>
            
            <p style="color: black">OBSERVAÇÕES:</p>
            <p>- A tramitação de um pedido de reconhecimento da condição de refugiado não impede a tramitação de um pedido de permanência no território brasileiro junto ao Ministério da Justiça, conforme os critérios previstos na legislação nacional.</p>
            <p>- Não existe um prazo para que o CONARE decida sobre seu pedido de refúgio. No entanto, é obrigatório que você COMPAREÇA na data agendada para a sua entrevista pessoal e preste todos os esclarecimentos que lhe forem requisitados pelo CONARE.</p>
            <p>- Mantenha seu endereço e contatos sempre atualizados na Policia Federal e no CONARE.</p>
            <p>- Após a assinatura do “Acordo sobre Residência para Nacionais dos Estados Partes do MERCOSUL”, nacionais da Argentina, Bolívia, Chile, Colômbia, Peru, e Uruguai poderão obter o direito de residência temporária no Brasil, válida por dois anos. Findos os dois anos iniciais da residência</p>
            provisória, é facultado requerer a conversão em residência permanente. A residência provisória do Acordo do Mercosul pode ser solicitada em qualquer consulado brasileiro no exterior ou em qualquer posto da Polícia Federal no Brasil. A residência provisória do Acordo do Mercosul pode ser solicitada a qualquer momento e por qualquer nacional daqueles Estados partes no acordo, mesmo que eles também tenham solicitado refúgio no Brasil.</p>
          </div>        
          <div class="col-lg-4 mr-auto">
                
            <p class="lead" style="color: black">DIREITOS DOS SOLICITANTES DE REFÚGIO NO BRASIL</p>
            <p style="color: black">-Não devolução</p>
            <p>Os solicitantes de refúgio não podem ser devolvidos ou expulsos para um país onde a sua vida ou integridade física estejam em risco. A proteção contra a devolução impõe, inclusive, o dever das autoridades brasileiras de garantirem que qualquer estrangeiro terá acesso ao mecanismo de
            refúgio, sobretudo nos controles migratórios nas fronteiras, portos e aeroportos.</p>
            
            <p style="color: black">- Não penalização pela entrada irregular</p>
            <p>Enquanto o pedido de refúgio estiver sendo analisado, os solicitantes de refúgio têm o direito de não serem investigados ou multados pelo ingresso irregular no território brasileiro.</p>
            
            <p style="color: black">-Documentação</p>
            <p>Os solicitantes de refúgio têm direito a documentos de identidade (Protocolo Provisório) e carteira de trabalho provisória, os quais servirão de prova do seu direito de permanecer em território brasileiro até decisão final do processo de solicitação de refúgio.</p>
            
            <p style="color: black">-Trabalho</p>
            <p>Os solicitantes de refúgio têm direito a carteira de trabalho, podem trabalhar formalmente e são titulares dos mesmos direitos inerentes a qualquer outro trabalhador no Brasil. O Brasil proíbe o trabalho de menores de 14 anos, o trabalho em condições análogas à de escravo e a exploração sexual.</p>
            
            <p style="color: black">-Livre trânsito pelo território brasileiro</p>
            
            <p style="color: black">-Educação</p>
            <p>Os solicitantes de refúgio têm o direito de frequentar as escolas públicas de ensino fundamental e médio, bem como de participar de programas públicos de capacitação técnica e profissional.</p>
            
            <p style="color: black">-Saúde</p>
            <p>Os solicitantes de refúgio podem e devem ser atendidos em quaisquer hospitais e postos de saúde públicos no território nacional.</p>
            
            <p style="color: black">-Não ser discriminado(a)</p>
            <p>Ninguém pode ter seus direitos restringidos em razão da cor da sua pele, pelo fato de ser mulher ou criança, por sua orientação sexual, por sua situação social, por suas condições econômicas ou por suas crenças religiosas. O racismo é considerado crime no Brasil.</p>
            
            <p style="color: black">-Não sofrer violência sexual ou de gênero</p>
            <p>No Brasil, homens e mulheres têm os mesmos direitos e toda forma de violência contra a mulher, em razão do gênero ou da orientação sexual é crime. A mulher vítima de violência tem o direito a receber assistência médica e formalizar sua denúncia através do telefone 180 ou em delegacias de polícia especializadas em atendimento à mulher.</p>
            
            <p style="color: black">-Praticar livremente sua religião</p>
            <p>O Brasil é um país laico que assegura a plena liberdade de culto, religião e crença.</p>
            
            <p class="lead" style="color: black">OBRIGAÇÕES DOS SOLICITANTES DE REFÚGIO NO BRASIL</p>
            <p>-Respeitar todas as leis.</p>
            <p>-Respeitar as pessoas, entidades e organismos públicos e privados.</p>
            <p>-Renovar seu Protocolo provisório de solicitação de refúgio nas Delegacias de Polícia Federal e mantê-lo sempre atualizado.</p>
            <p>-Informar seu domicílio e mantê-lo atualizado nas Delegacias de Polícia Federal e junto ao CONARE.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Localidade</h4>
            <p class="lead mb-0">IFSul <br>
              R. Gal. Balbão, 180<br>
              Centro | Charqueadas-RS</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Redes Sociais</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fab fa-fw fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fab fa-fw fa-google-plus-g"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fab fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fab fa-fw fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">Sobre a RECEPTIO</h4>
            <p class="lead mb-0">Associação privada sem fins lucrativos</p>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; Receptio 2018</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Portfolio Modals -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h3 class="text-uppercase mb-0">Apoiador</h3>
              <!-- Form -->
                <div class="container" id="apoiadores">
                  <div class="row">
                    <div class="col-lg-8 mx-auto">
                      <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                      <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                      <form name="sentMessage" id="contactForm" novalidate="novalidate" method="POST" action="/queroAjudar">

                        <div class="control-group">
                          <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Username</label>
                            <input class="form-control form-control-lg" id="username" name="userName" type="text" placeholder="Username">
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>

                        <div class="control-group">
                          <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>E-mail</label>
                            <input class="form-control form-control-lg" id="email" name="email" type="email" placeholder="E-mail">
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>

                        <div class="control-group">
                          <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>UF localização</label>
                            <select name="estado" class="form-control form-control-lg">
                              <option value="">Selecione</option>
                              <option value="AC">AC</option>
                              <option value="AL">AL</option>
                              <option value="AP">AP</option>
                              <option value="AM">AM</option>
                              <option value="BA">BA</option>
                              <option value="CE">CE</option>
                              <option value="DF">DF</option>
                              <option value="ES">ES</option>
                              <option value="GO">GO</option>
                              <option value="MA">MA</option>
                              <option value="MT">MT</option>
                              <option value="MS">MS</option>
                              <option value="MG">MG</option>
                              <option value="EA">EA</option>
                              <option value="ED">ED</option>
                              <option value="PR">PR</option>
                              <option value="PE">PE</option>
                              <option value="PI">PI</option>
                              <option value="RJ">RJ</option>
                              <option value="RN">RN</option>
                              <option value="RS">RS</option>
                              <option value="RO">RO</option>
                              <option value="RR">RR</option>
                              <option value="SC">SC</option>
                              <option value="SP">SP</option>
                              <option value="SE">SE</option>
                              <option value="TO">TO</option>
                            </select>
                          </div>
                        </div>

                        <div class="control-group">
                          <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>UF localização</label>
                            <select name="cidade" class="form-control form-control-lg">
                              <option value="">Selecione</option>
                              <option value="Aceguá">Aceguá</option>
                              <option value="Agua Santa">Agua Santa</option>
                              <option value="Agudo">Agudo</option>
                              <option value="Ajuricaba">Ajuricaba</option>
                              <option value="Alecrim">Alecrim</option>
                              <option value="Alegrete">Alegrete</option>
                              <option value="Alegria">Alegria</option>
                              <option value="Almirante Tamandaré do Sul">Almirante Tamandaré do Sul</option>
                              <option value="Alpestre">Alpestre</option>
                            </select>
                          </div>
                        </div>

                        <div class="control-group">
                          <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Idimona</label>
                            <input class="form-control form-control-lg" id="idiomas" name="idiomas" type="text" placeholder="Idioma">
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="exampleTextarea">Como você pode contribuir?</label>
                          <textarea class="form-control" id="historia" name="historia" rows="3"></textarea>
                        </div>

                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-xl" id="cadastrarApoiador">Registrar apoio</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h3 class="text-uppercase mb-0">Imigrante</h3>
              <!-- Form -->
                <div class="container" id="contact">
                  <div class="row">
                    <div class="col-lg-8 mx-auto">
                      <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                      <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                      <form name="sentMessage" id="contactForm" novalidate="novalidate" method="POST" action="/buscaAjuda">

                        <div class="control-group">
                          <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Username</label>
                            <input class="form-control form-control-lg" id="userName" name="userName" type="text" placeholder="Username">
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>

                        <div class="control-group">
                          <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>País de origem</label>
                            <select name="pais" class="form-control form-control-lg">
                              <option value="">Selecione</option>
                              <option value="Venezuela">Venezuela</option>
                              <option value="Haiti">Haiti</option>
                              <option value="Síria">Síria</option>
                              <option value="Senegal">Senegal</option>
                            </select>
                          </div>
                        </div>

                        <div class="control-group">
                          <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>UF localização</label>
                            <select name="estado" class="form-control form-control-lg">
                              <option value="">Selecione</option>
                              <option value="AC">AC</option>
                              <option value="AL">AL</option>
                              <option value="AP">AP</option>
                              <option value="AM">AM</option>
                              <option value="BA">BA</option>
                              <option value="CE">CE</option>
                              <option value="DF">DF</option>
                              <option value="ES">ES</option>
                              <option value="GO">GO</option>
                              <option value="MA">MA</option>
                              <option value="MT">MT</option>
                              <option value="MS">MS</option>
                              <option value="MG">MG</option>
                              <option value="EA">EA</option>
                              <option value="ED">ED</option>
                              <option value="PR">PR</option>
                              <option value="PE">PE</option>
                              <option value="PI">PI</option>
                              <option value="RJ">RJ</option>
                              <option value="RN">RN</option>
                              <option value="RS">RS</option>
                              <option value="RO">RO</option>
                              <option value="RR">RR</option>
                              <option value="SC">SC</option>
                              <option value="SP">SP</option>
                              <option value="SE">SE</option>
                              <option value="TO">TO</option>
                            </select>
                          </div>
                        </div>

                        <div class="control-group">
                          <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>UF localização</label>
                            <select name="cidade" class="form-control form-control-lg">
                              <option value="">Selecione</option>
                              <option value="Aceguá">Aceguá</option>
                              <option value="Agua Santa">Agua Santa</option>
                              <option value="Agudo">Agudo</option>
                              <option value="Ajuricaba">Ajuricaba</option>
                              <option value="Alecrim">Alecrim</option>
                              <option value="Alegrete">Alegrete</option>
                              <option value="Alegria">Alegria</option>
                              <option value="Almirante Tamandaré do Sul">Almirante Tamandaré do Sul</option>
                              <option value="Alpestre">Alpestre</option>
                            </select>
                          </div>
                        </div>

                        <div class="control-group">
                          <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Idimona</label>
                            <input class="form-control form-control-lg" id="idiomas" name="idiomas" type="text" placeholder="Idioma">
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="exampleTextarea">Sua história</label>
                          <textarea class="form-control" id="hisotia" name="historia" rows="3"></textarea>
                        </div>

                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-xl" id="cadastrarImigrante">Cadastrar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>


    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>

  </body>

</html>
